
<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
    <!-- Angular Tab -->
    <mat-tab label="Angular">
      <ng-container *ngIf="selectedTabIndex === 0">
        <p>This is the content for Angular.</p>
      </ng-container>
    </mat-tab>
  
    <!-- .NET Tab -->
    <mat-tab  label=".NET">
      <ng-container *ngIf="selectedTabIndex === 1">
        <p>This is the content for .NET.</p>
      </ng-container>
    </mat-tab>
  
    <!-- Vue.js Tab -->
    <mat-tab label="Vue.js">
      <ng-container *ngIf="selectedTabIndex === 2">
        <p>This is the content for Vue.js.</p>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
  